@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Lato;
  background-color: #f4f4f4; }

.red-line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin: 0 auto; }

.btn-default {
  margin-top: 60px;
  width: 200px;
  height: 50px;
  background-color: #ed145b;
  color: #fff;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  transition: 0.4s; }
  .btn-default:hover {
    color: #ed145b;
    background-color: #fff;
    border: 2px solid #ed145b;
    transform: scale(1.1); }

p {
  line-height: 30px;
  font-size: 15px;
  color: #5a5a5a;
  font-weight: 400; }

nav {
  color: #fff; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right; }
  nav .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #fff;
    float: left;
    font-weight: 900;
    cursor: pointer;
    transition: 0.4s; }
    nav .logo:hover {
      color: #ed145b;
      transform: scale(1.1); }
  nav .slash {
    color: #ed145b;
    letter-spacing: 3px;
    font-family: Lato; }
  nav li {
    display: inline-block; }
  nav a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 0 15px;
    position: relative;
    transition: 0.4s; }
    nav a:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-color: #ed145b;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.4s ease-in-out 0s; }
    nav a:hover {
      color: #ed145b;
      text-decoration: none; }
    nav a:hover:before {
      visibility: visible;
      transform: scaleX(1); }

main {
  background: url("../images/background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  main span {
    font-weight: 900;
    color: #fff; }
  main .slogan {
    color: #fff;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 300;
    margin-top: 25vh;
    letter-spacing: 1.15px; }
  main .hero-text {
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.55px; }
  main .hero-line {
    margin: 40px auto; }
  main .btn-default {
    padding-top: 15px; }
  main:before {
    content: '';
    position: absolute;
    height: 78px;
    width: 99.1vw;
    background: #f4f4f4;
    bottom: -30px;
    left: 0;
    z-index: -2; }
  main:after {
    content: '';
    z-index: -1;
    width: 99vw;
    height: 78px;
    background: #ed145b;
    bottom: -20px;
    left: 0;
    transform: rotate(-1deg);
    position: absolute; }

.about {
  font-weight: 300; }
  .about [class*="col"] {
    margin-top: 15vh;
    margin-bottom: 10vh;
    position: relative; }
  .about h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.95px;
    color: #5a5a5a; }
  .about .red-line {
    margin: 35px 0 45px 0; }
  .about a {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #ed145b;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.4s; }
    .about a:hover {
      text-decoration: underline;
      transform: scale(1.1); }
  .about span {
    padding: 15px; }
    .about span:after {
      content: '';
      background: rgba(0, 0, 0, 0);
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid #ed145b;
      border-radius: 50%;
      top: 7px;
      left: 7px; }
  .about .mac {
    position: absolute;
    left: 0; }

.services {
  background-color: #fff;
  padding-top: 150px; }
  .services h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.95px;
    color: #5a5a5a; }
  .services .red-line {
    margin: 40px auto; }
  .services .services-icons {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 120px; }
  .services .icon {
    background: none;
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.4s; }
    .services .icon:hover {
      transform: scale(1.1); }
  .services h2 {
    color: #ed145b;
    font-size: 18px;
    text-transform: uppercase; }

.quote {
  background: url("../images/background-image.png");
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .quote .quote-open {
    margin-top: 60px;
    margin-bottom: 45px; }
  .quote .quote-close {
    margin-top: 45px;
    margin-bottom: 60px; }
  .quote p {
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.63px; }
  .quote .carousel-control {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px; }
    .quote .carousel-control .glyphicon-menu-left {
      margin-left: 10vw; }
    .quote .carousel-control .glyphicon-menu-right {
      margin-right: 10vw; }

.prizes {
  margin-top: 140px;
  max-width: 1200px; }
  .prizes h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.95px;
    color: #5a5a5a; }
  .prizes .red-line {
    margin: 40px auto; }
  .prizes .col-xs-3 {
    margin-top: 60px;
    width: 262px;
    margin-right: 25px;
    margin-bottom: 140px; }
    .prizes .col-xs-3:hover .top {
      background-color: #ed145b;
      transition: .4s; }
    .prizes .col-xs-3 .top {
      background-color: #5a5a5a;
      height: 135px;
      position: relative; }
      .prizes .col-xs-3 .top p {
        padding-top: 33px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px; }
        .prizes .col-xs-3 .top p .value {
          font-size: 50px; }
        .prizes .col-xs-3 .top p .month {
          font-size: 15px; }
      .prizes .col-xs-3 .top .plan {
        position: absolute;
        color: #5a5a5a;
        font-weight: 700;
        background-color: #f4f4f4;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 25px;
        text-align: center;
        line-height: 50px;
        left: 16px;
        bottom: -25px; }
    .prizes .col-xs-3 .bottom {
      background-color: #fff;
      padding-top: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; }
      .prizes .col-xs-3 .bottom ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: .prizes .col-xs-3 .bottom ul text-color;
        font-size: 15px; }
        .prizes .col-xs-3 .bottom ul li {
          padding-top: 15px; }
      .prizes .col-xs-3 .bottom .btn-default {
        margin: 35px auto; }

/*# sourceMappingURL=style.css.map */
